@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Shadows+Into+Light&display=swap');

* { 
    margin: 0;
    padding: 0;
    border: none;
    margin: 0 auto;
 }

 #result {
     height: 150px;
     width: 350px;
     background-color: #D3DEDC;
 }

 #main-section {
     height: 500px;
     width: 350px;
     background-color: #92A9BD;
     display: flex; 
     justify-content: center;
     padding-top: 15px;
 }

 #main-section > div > div {
     font-size: 1.5rem;
     background-color: #FDF6EC;  /* usar essa cor quando apertar o botao #F3E9DD */
     height: 70px;
     width: 70px;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 5px;
 }

 #main-section > div > div:active {
    background-color: #F3E9DD;
    border-radius: 20%;
 }

 #main-section > p {
     text-align: 0 auto;
 }
