@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Shadows+Into+Light&display=swap');

* { 
    margin: 0;
    padding: 0;
    border: none;
 }

 #result {
     height: 150px;
     width: 300px;
     background-color: antiquewhite;
 }

 #main-section {
     height: 500px;
     width: 300px;
     background-color: aqua;
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }

 #main-section > div {
     font-size: 1.3rem;
     background-color: red;
     height: 50px;
     width: 50px;
     border-radius: 50%;
 }

 #main-section > p {
     text-align: 0 auto;
 }
